<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.pepelaz.fof">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAGXlLUxZ884iovVGJycVVaWiHW011mEFc"/>

        <activity
            android:name=".activities.StartupActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/main_activity_title"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.SiteActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.SpeciesActivity"
            android:label="Species"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.RecordsActivity"
            android:label="Records"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.TackleActivity"
            android:label="Tackle"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.BaitActivity"
            android:label="Bait"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.FactsActivity"
            android:label="Facts"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.SeasonsActivity"
            android:label="Seasons"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="ru.pepelaz.fof.activities.locations.LocationsActivity"
            android:label="Locations"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="ru.pepelaz.fof.activities.locations.LocationEditActivity"
            android:label="Locations"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="ru.pepelaz.fof.activities.locations.LocationsSavedActivity"
            android:label="Locations"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.GlossaryActivity"
            android:label="Glossary"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.CameraActivity"
            android:label="Camera"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.CookingActivity"
            android:label="Cooking"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.TidesActivity"
            android:label="Tides"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.WeatherActivity"
            android:label="Weather"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.ContactActivity"
            android:label="Contact"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.AboutActivity"
            android:label="About"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.GetLuckyActivity"
            android:label="Get Lucky"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.QuizActivity"
            android:label="Quiz"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>